<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>사용자 등록</title>
</head>
<body>
<h1>사용자 등록</h1>
<form th:action="@{/register}" th:object="${user}" method="post">
    <div>
        <label for="username">사용자명</label>
        <input type="text" id="username" name="username">
    </div>
    <div>
        <label for="email">이메일</label>
        <input type="email" id="email" name="email">
    </div>
    <div>
        <label for="password">비밀번호</label>
        <input type="password" id="password" name="password">
    </div>
    <button type="submit">등록</button>
</form>
</body>
</html>